body {
	margin-top: 50px;
	background-color: #ecf0f1;
}

.space {
	margin-top: 50px;
}

.spacebottom {
	margin-bottom: 150px;
}

#wordpress {
	padding-left: 15px;
}

#wrapper {
	max-width: 100%;
	margin: 0 auto;
}

#myCanvas {
	border: 1px solid #000000;
	background: #3498db;
	margin: 0 auto;
	float: left;
}

#myDiv {
	padding: 40px;
	margin-top: 160px;	
	color: #fff;
	width: 80%;
}

.myDivClass {
	background: #d9534f;
}

.otherDiv {
	background: #f0ad4e;
}

iframe, object, embed {
  max-width: 100%;
}
.spacing {
	margin-top: 20px;
	margin-left: 5px;
}

.centreText {
	text-align: center;
}

.smallspace {
	margin-top: 2px;
}

.project